<%- include('partials/header', { title: title }) %>
<h1><%= title %></h1>
<p><%= data.content %> Once you decide to let the adventures begin, you become more adaptable and open in new environments. Whether it's tasting a funky new dish or going zip lining through a jungle, small and large adventurous acts lead to personal growth. You'll become eager to try new things, without letting fear or doubt hold you back.Scandinavia Adventure Travels is specialized in skiing and hiking in Scandinavian mountains and forest. From our basecamp, in Fjätervålen, Sweden, we offers guided tours, expeditions, courses and rental of equipment. Most of our tours are tailor made adventures for private guests, groups and travel companies. Contact us or book any of our opened adventures.</p>
<img src="/images/istockphoto-1363985078-2048x2048swede.jpg" alt="sweden">
<a href="/trips" class="button">Back to Packages</a>
<%- include('partials/footer') %> 