<%- include('partials/header', { title: title }) %>
<h1>Deals</h1>
<p><%= data.content %> Our expert guides provide you with all the information you need to make your journey safe and enjoyable. Check out our tips and tricks for a hassle-free travel experience.</p>
<img src="./images/pexels-photo-13801508deal1.jpeg" alt="Travel Guides">
<a href="/deals/perfectdeal" class="button">Learn More</a>
<%- include('partials/footer') %> 