<%- include('partials/header', { title: title }) %>
<h1>Welcome to Wanderlust Adventures</h1>
<p>Wanderlust is a beautiful thing, and it makes us better people. We understand travel is an investment.No matter how you go about it, it takes some planning and money. But exploring the world with a sense of wonder and curiosity is so worth it because wanderlust travel can enrich your life in so many ways.     
     Your gateway to unforgettable travel experiences. Whether you're looking for a relaxing beach holiday or an adventurous mountain trek,Northern lights safari,ski&snowboard,beach life.we have something for everyone. Explore our site to find the perfect travel package for you.</p>
<img src="./images\youth-active-jump-happy-40815-ev.webp" alt="Welcome Image">
<a href="/trips" class="button">Explore Packages</a>
<%- include('partials/footer') %>