<%- include('partials/header', { title: title }) %>
<h1><%= title %></h1>
<p><%= data.content %>  The 7 most luxurious cities in the world :
    Dubai - The jewel of the Middle East. ...
    Monaco - The Rock of Opulence. ...
    Marbella - Paradise on the Costa del Sol. ...
    Singapore - The Pearl of Asia. ...
    Paris - City of lights and luxury. ...
    New York - The city that never sleeps. ...
    Saint-Tropez - The pearl of the Côte d'Azur. 
    cuba - Discover vibrant Cuba. ...
    India - Visit spellbinding India. ...
    sweden- Adventure across lapland & Journey through the Rocky Mountains. ...
    Egypt - Cruise the River Nile in Egypt. ...
    NewZealand - Discover the diverse culture of New Zealand. ...
    Mexico - Explore the Mayan ruins of Mexico. ...  
 </p>
<img src="/images/istockphoto-637518486-2048x2048.jpg" alt="sweden">
<a href="/trips" class="button">Back to Packages</a>
<%- include('partials/footer') %> 