<%- include('partials/header', { title: title }) %>
<h1>Mountain Biker</h1>
<p><%= data.content %> Ready for a 360° adventure?
    Do you have a craving for an adventure around the world? We're talking about adventures that change your life, push your limits and let you discover faraway countries... Whether it's to see one of the seven wonders of the modern world or to unearth hidden and authentic corners of a country, We Classic 360° line of adventure trips will leave you speechless, giving you new emotions every day to turn into memories and cherish forever. Discover all destinations from Central and South America to Southeast Asia via Africa. Click on the part of the world you want to visit and pack your backpack!</p>
<img src="/images/free-photo-of-mountain-biker-on-trail-in-minas-gerais.jpeg" alt="sweden">
<a href="/trips" class="button">Back to Packages</a>
<%- include('partials/footer') %> 