<%- include('partials/header', { title: title }) %>
<h1>Perfect Deal</h1>
<p><%= data.content %>Have you ever done a last-minute trip?
    Who has never gone on a last-minute trip? If your answer is 'me', then it's time to make up for it: on this page, you'll find all our last-minute departures at a juicy discount, perfect for those who are ready to throw themselves headlong into a new adventure with a small advantage.
    
    All of our last-minute travel deals
     </p>
<img src= "/images/pexels-photo-5717509deal2.webp" alt="Travel Guides">
<a href="/deals" class="button">Back to Guides</a>
<%- include('partials/footer') %> 